html {
    font-family: "arial";
}

a {
    text-decoration: none;
    color: #000;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    margin: 5px;
    display:inline-block;
    border: solid #ddd;
    padding:5px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 6px 14px 0px rgba(50, 50, 50, 0.31);
    -moz-box-shadow: 0px 6px 14px 0px rgba(50, 50, 50, 0.31);
    box-shadow: 0px 6px 14px 0px rgba(50, 50, 50, 0.31);
}

.countdown-container {
    width: 600px;
    margin:auto;
    border:solid #ddd;
    border-radius:10px;
    padding: 20px;
    background-color: #FAFAFA;
}

.reset-controls, .playPause-button {
    float:left;
    position:relative;
}

.bpm-controls, .incorrect-controls {
    float:right;
    position: relative;
}

.beats-left {
    margin:auto;
    text-align:center;
    font-size: 10em;
    padding: 27px 0 0;
}

.bottom-controls {
    width:100%;
}

.big-button {
    display:inline-block;
    border: solid #ddd;
    border-radius: 60px;
    padding: 30px 24px;
}

.playPause-button {
    width:50px;
    text-align: center;
}

.playPause-button.playing {
    background-color: #AD4646;
    color: #DFD8D8;
}

.playPause-button.paused {
    background-color: #89EB77;
    color: #555;
}

.incorrect-controls {
    margin-top: 20px;}